.container {
    width: 1346px;
    height: 500px;
    border: 2px solid blue;
    margin: 0 auto;
}

.photo{
    width: 400px;
    height: 497px;
    position: relative;
    right: 50px;
}

.text {
    width: 220.01px;
    height: 20px;
    position: relative;
    bottom: 400px;
    left: 440.18px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 6%;
}

.text_2 {
    width: 685.39px;
    height: 215px;
    position: relative;
    left: 445.18px;
    bottom: 320px;
    opacity: 80%;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1%;
    color: rgb(34, 53, 111);
}

.text_span {
    color: rgb(108, 211, 225);
}

.text_3 {
    position: relative;
    width: 525.19px;
    height: 43px;
    left: 450.18px;
    right: 359.62px;
    bottom: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(250, 182, 62);
}